@model IEnumerable<WebThoiTrang.Models.CartDetail>

@{
    ViewBag.Title = "Index";
    int total = 0;
    int shippingCost = 20000;
    int coupon = 0;

    if (ViewData["USERCOUPONS"] == null)
    {
        ViewData["USERCOUPONS"] = "";
    }
    string listOfCoupons = ViewData["USERCOUPONS"].ToString();
    List<string> couponsList = new List<string>();
    if (listOfCoupons != "")
    {
        couponsList = listOfCoupons.Split(',').ToList();
    }
    string defaultCoupon = "";


}
<head>

    <link rel="stylesheet" href="~/Assets/HomePage/css/owl.carousel.min.css" type="text/css">
    <script src="~/Assets/HomePage/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/HomePage/js/bootstrap.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery-ui.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery.countdown.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery.nice-select.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery.zoom.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery.dd.min.js"></script>
    <script src="~/Assets/HomePage/js/jquery.slicknav.js"></script>
    <script src="~/Assets/HomePage/js/owl.carousel.min.js"></script>
    <script src="~/Assets/HomePage/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body style="margin:0;" >
    <script>
        if (@ViewBag.checkOut != null) {
            alert(@ViewBag.checkOut);
        }
    </script>

    <div class="bodyCont container-fluid" style="">
        <p class="abc" style="margin-bottom:3%;">Shopping Cart</p>
        <div class="linkTree" style="margin-top: 2%;margin-bottom:2%; margin-right:2%;">
            <a href="../../Home">Home</a> /
            <a href="../../Cart"> Cart</a>
        </div>
        <div class="row">
            <div class="col-md-8 left-cont">
                <div class="row align-items-center ">
                    <div class="col-md-4"><label for="itm">Item</label></div>
                    <div class="col-md-2"><label for="itm">Price</label></div>
                    <div class="col-md-2"><label for="itm">Amount</label></div>
                    <div class="col-md-2"><label for="itm">Subtotal</label></div>
                    <div class="col-md-2"></div>

                    <!--Row 2-->
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 mt-5">
                            <div class="d-flex">
                                <img src="~/Assets/Images/@item.Product.ANHSP" alt="@item.Product.ANHSP" style="width: 100%;height: 100%;">
                            </div>
                            <div class="media-body">
                                <p>@item.Product.TENSANPHAM</p>
                            </div>
                        </div>
                        <div class="col-md-1"><label for="itm">@item.Product.GIATIEN.ToString("N0")$</label></div>
                        <div class="col-md-3">
                            <form id="quantityForm" action="@Url.Action("Update", "Cart")" onsubmit="return getQuantity()" method="post">
                                <input type="hidden" name="ProductId" value="@item.MASP" />
                                <div class="def-number-input number-input safari_only mb-0" style="text-align:center;">
                                    <button  type="submit"  id="down" onclick="this.parentNode.querySelector('input[type=number]').stepDown() "
                                            class="fa fa-minus Quantity" style=" color: rebeccapurple; background-color: Transparent;background-repeat: no-repeat;border: none;"></button>
                                    <input class="Quantity" style="width: 30%; text-align: center;" name="quantity" value="@item.SOLUONG" type="number">
                                    <button  type="submit" id="up"  onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="fa fa-plus Quantity" style=" color: rebeccapurple; background-color: Transparent;background-repeat: no-repeat;border: none;">
                                    </button>
                                    <br />

                                </div>
                            </form>

                            <script>
                                function getQuantity() {
                                    // Selecting the input element and get its value
                                    var soluongmongmuon = document.getElementById("quantityText").value();

                                    document.getElementsByClassName("Quantity").value = (soluongmongmuon - @item.SOLUONG);
                                }
                            </script>
                        </div>

                        <div class="col-md-2"><label for="itm">@((item.Product.GIATIEN * item.SOLUONG).ToString("N0"))$</label></div>

                        <div class="col-md-1">
                            <form action="@Url.Action("Remove", "Cart")" method="GET">
                                <input name="productId" value="@item.Product.MASP" hidden />
                                <button style="color:black; " type="submit"> <i style="color:black; font-size:1.5rem;" class="fas fa-trash-alt"></i></button>

                            </form>

                        </div>
                        total += @item.Product.GIATIEN * @item.SOLUONG;
                        <!---->
                    }
                    <div class="pt-5 pr-5">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-warning"><a href="@Url.Action("Index", "Home")" style="color: white; text-decoration:none;">Continue Shopping</a></button>
                            <button type="button" class="btn btn-dark"><a href="@Url.Action("Delete", "Cart")" style="color: white; text-decoration:none;">Clear Shopping Cart</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-4">
                <div class="box-container" style="max-width:100%;width: 100%; height: 120%; display: inline-flex; flex-direction: column; justify-content: space-evenly; align-items:flex-start; padding-left: 10%;">

                    <h2>Summary</h2>
                    <!--<h3>Estimate Shipping and Tax</h3>-->
                    @*<p><input type="text" class="form-control" placeholder="Enter your destination to get a shipping estimate." required name="Destination" style="width: 400px; height:5vh;"></p>*@
                    <!--<h4>$@shippingCost</h4>-->
                    @{
                        if (listOfCoupons != "")
                        {
                            <h3>Your Saved Code</h3>
                            <div style="width:100%;">
                                @{
                                    <form action="@Url.Action("ApplyCode", "Cart")" method="post" class="row">

                                        <select name="Discount" onselect="AsignCoupon()" id="selectedCoupon" class="form-select col-md-8" style="width: 50%;height: 5vh;">
                                            @foreach (var cp in couponsList)
                                            {
                                                <option value="@cp">@cp</option>
                                            }
                                        </select>

                                        <input type="submit" class="col-md-3 btn btn-warning" style="margin-left:20px; width: 50px;" value="Apply" />
                                    </form> }
                            </div>
                        }

                    }

                    <h3>Apply Discount Code</h3>
                    <form action="@Url.Action("ApplyCode", "Cart")" method="post" class="row" style="width:100%;">
                        <input value="@defaultCoupon" type="text" class="form-control col-md-8" placeholder="Enter your discount code." required name="Discount" style="width:100%; height:5vh;">
                        <input type="submit" class="col-md-3 btn btn-warning" style="margin-left:28px;width: 50px;" value="Apply" />
                    </form>
                    <h3>Discount</h3>

                    <h4>$@TempData["couponValues"]</h4>

                    @{if (TempData["couponValues"] != null)
                        {
                            coupon = (int)TempData["couponValues"];
                            total = total - shippingCost - coupon;
                        }
                        else if (total != 0)
                        {
                            total = total - shippingCost;
                        }
                    }
                    <h3>Shipping</h3>
                    <h4>
                        $@{if (total != 0)
                            {
                                @shippingCost
                            }

                        }
                    </h4>
                    <h3>Subtotal</h3>
                    <h4>$@total</h4>

                    <form action="../../Bills/Create" method="GET" onsubmit="if(@total==0) return alert(`Can't check out with an empty cart!!!`);">
                        <input name="total" value="@total" hidden />

                        <div><button type="submit" class="btn btn-lg btn-primary">Proceed to Checkout</button></div>
                    </form>
                    @*<div>

            <button type="button" class="btn btn-warning mt-2 ">Check out with PayPal</button>
        </div>*@
                </div>
            </div>
        </div>
    </div>

</body>