@model IEnumerable<WebThoiTrang.Models.NHAPHANKHOI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MANPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHPHO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="productList" ondblclick='location.href="@Url.Action( "Details",new { id = item.MANPP })"'>
            <td>
                @Html.DisplayFor(modelItem => item.MANPP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DUONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THANHPHO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SONHA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>

                <i onclick='location.href="@Url.Action( "Edit",new { id = item.MANPP })"' class="fas fa-pen edit"> </i>
                <i onclick='location.href="@Url.Action( "Delete",new { id = item.MANPP })"' class="far fa-trash-alt delete"></i>
            </td>
        </tr>
    }

</table>
