@model IEnumerable<WebThoiTrang.Models.Coupon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAMGGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYTAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THOIHAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THONGTINGIAMGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIATRIGIAMGIATOIDA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="productList" ondblclick='location.href="@Url.Action( "Details",new { id = item.MAMGGIA })"'>
        <td>
            @Html.DisplayFor(modelItem => item.MAMGGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYTAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THOIHAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THONGTINGIAMGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIATRIGIAMGIATOIDA)
        </td>
        <td class="actionLink iconLink">
            <i onclick='location.href="@Url.Action( "Edit",new { id = item.MAMGGIA })"' class="fas fa-pen edit"> </i>
            <i onclick='location.href="@Url.Action( "Delete",new { id = item.MAMGGIA })"' class="far fa-trash-alt delete"></i>

        </td>
    </tr>
}

</table>
